{% extends "base.html" %}

{% block title %}addcard{% endblock %}

{% block content %}
    <h1>Add Card</h1>
    <form method="post" action="{{ url_for('add_card') }}" enctype="multipart/form-data">
        <!-- wtf method to print hidden field. Field to hold CSRF token will be hidden and defined automatically-->
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ form.name }}
            <!--input type="text" name="agent"-->
        </p>
        <p>
            {{ form.type.label }}
            {{ form.type }}
            <!--input type="text" name="type"-->
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image }}
            <!--input type="text" name="type"-->
        </p>
        <p>
            {{ form.recaptcha }}
        </p>
        {{ form.submit }}
        <!--button type="submit">Create</button-->
    </form>
{% endblock %}