{% extends "base.html" %}

{% block title %}editCard{% endblock %}

{% block content %}
    <h1>Edit Card</h1>
    <form method="post" action="{{ url_for('edit_card', index=card._id) }}">
        <!-- wtf method to print hidden field. Field to hold CSRF token will be hidden and defined automatically-->
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ form.name }}
            <!--input type="text" name="agent"-->
        </p>
        <p>
            {{ form.type.label }}
            {{ form.type }}
            <!--input type="text" name="type"-->
        </p>
        {{ form.submit }}
        <!--button type="submit">Create</button-->
    </form>
{% endblock %}